

{%if gauge_info |length > 0 %}

    <div class ="row">

        <div class="card border-primary mb-3" style="max-width: 50%;" >
            <div class="card-header">Gauge Contract</div>
            <div class="card-body">
                <h4 class="card-title">Name {{gauge_info['gauge_name']}}</h4>
                <p class="card-text">Gauge Symbol: {{gauge_info['gauge_symbol']}}</p>
                <p class="card-text">Gauge Address: {{gauge_info['gauge_addr']}}</p>
                <p class="card-text">Gauge Type: {{gauge_info['type_name']}}</p>

                <a href="{{ url_for('curve_liquidity_bp.show', gauge_addr= gauge_info['gauge_addr']) }}">
                    <button type="button" class="btn btn-primary">View Liqudity</button>
                </a>

                <a href="{{ url_for('convex_snapshot_bp.show', choice= gauge_info['gauge_addr']) }}">
                    <button type="button" class="btn btn-secondary">View Convex Snapshot</button>
                </a>
                <a href="{{ url_for('stakedao_snapshot_bp.show', choice= gauge_info['gauge_addr']) }}">
                    <button type="button" class="btn btn-info">View StakeDAO Snapshot</button>
                </a>

            </div>
        </div> 

        <div class="card border-info mb-3" style="max-width: 50%;" >
            <div class="card-header">Associated Contracts</div>
            <div class="card-body">
                <p class="card-text">Pool Name: {{gauge_info['pool_name']}}</p>
                <p class="card-text">Pool Address: {{gauge_info['pool_addr']}}</p>
                <p class="card-text">Pool Symbol: {{gauge_info['pool_symbol']}}</p>

                {%if gauge_info['token_addr'] %}
                <p class="card-text">Token Name: {{gauge_info['token_name']}}</p>
                <p class="card-text">Token Address: {{gauge_info['token_addr']}}</p>
                <p class="card-text">Token Symbol: {{gauge_info['token_symbol']}}</p>
                {% endif %}

            </div>
        </div>   
                    
    </div>

    <div class ="row">

        <div class="card border-primary mb-3" style="max-width: 50%;" >
            <div class="card-header">Gauge Contract</div>
            <div class="card-body">
                <h4 class="card-title">Name {{gauge_info['gauge_name']}}</h4>
                <p class="card-text">Gauge Symbol: {{gauge_info['gauge_symbol']}}</p>
                <p class="card-text">Gauge Address: {{gauge_info['gauge_addr']}}</p>

                <a href="{{ url_for('curve_liquidity_bp.show', gauge_addr= gauge_info['gauge_addr']) }}">
                    <button type="button" class="btn btn-primary">View Liqudity</button>
                </a>

                <a href="{{ url_for('convex_snapshot_bp.show', choice= gauge_info['gauge_addr']) }}">
                    <button type="button" class="btn btn-secondary">View Convex Snapshot</button>
                </a>
                <a href="{{ url_for('stakedao_snapshot_bp.show', choice= gauge_info['gauge_addr']) }}">
                    <button type="button" class="btn btn-info">View StakeDAO Snapshot</button>
                </a>

            </div>
        </div> 

        <div class="card border-info mb-3" style="max-width: 50%;" >
            <div class="card-header">Associated Contracts</div>
            <div class="card-body">
                <p class="card-text">Pool Name: {{gauge_info['pool_name']}}</p>
                <p class="card-text">Pool Address: {{gauge_info['pool_addr']}}</p>
                <p class="card-text">Pool Symbol: {{gauge_info['pool_symbol']}}</p>

                {%if gauge_info['token_addr'] %}
                <p class="card-text">Token Name: {{gauge_info['token_name']}}</p>
                <p class="card-text">Token Address: {{gauge_info['token_addr']}}</p>
                <p class="card-text">Token Symbol: {{gauge_info['token_symbol']}}</p>
                {% endif %}

            </div>
        </div>   
                    
    </div>