{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% set active_category = "curve" -%}
  {% set active_page = "curve_gauges" -%}
  {% set sub_active_page = 'home' -%}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>
    </div>

    <div class="row">
        <div class="card border-info mb-3"  >

          <div class="card-header">Notes:</div>
          <div class="card-body">
              <p class="card-text">Currently uses "N/A" for gauges which were sourced from scraping the website vs onchain. 
              Mostly refered to as "Core". These pools do not show on the table below due to lack of creation blocktime.
              </p>
              <p class="card-text">Currently there is not a record of all deployments.
              </p>
              <p class="card-text">Rows with a <strong>Vote Timestamp</strong> have been whitelisted by governance to recieve CRV issuance as determined by gauge vote.
              </p>
          </div>
        </div>

    </div>

    {# <div class="row">

        <div class="card text-white bg-secondary mb-3" >
        <div class="card-header">Current Votes</div>
        <div class="card-body">
            <div id="chart2" class="chart2"></div>

        </div>
        </div>
    </div> #}
    <div class="row">

      <div class="card text-white bg-primary mb-3" >
        <div class="card-header">Gauge's Approved By Governance Per Round</div>
        <div class="card-body">
            {# <h4 class="card-title">??}}</h4> #}
            {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
            <div id="chart" class="chart"></div>
        </div>
      </div>
    </div>



  <div class="row">
      <h4 class="text-primary">Gauge Index</h4>
      <div id="gauge_table"></div>
  </div>


  


<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
          { id: 'deployed_timestamp', name: 'Deployed Timestamp' },
          { id: 'vote_timestamp', name: 'Vote Timestamp' },
          { id: 'first_period', name: 'Gauge Round Created' },

          { id: 'type_name', name: 'Type' },
          { id: 'source', name: 'Source' },

          { id: 'gauge_name', name: 'Gauge Name' },
          { id: 'gauge_addr', name: 'Gauge Address',
            formatter: (_, row) => gridjs.html(
                `${row.cells[6].data.toString()}`
            )
          },
          { id: 'pool_addr', name: 'Pool Address' },
        ],
        data: [
          {% for index, row in df_curve_gauge_registry.iterrows() %}
            {
              'deployed_timestamp': '{{ row['deployed_timestamp'][:10] }}',
              'vote_timestamp': '{{ row['vote_timestamp'] }}',
              'first_period': '{{ row['first_period'] }}',
              'type_name': '{{ row['type_name'] }}',
              'source': '{{ row['source'] }}',
              'gauge_name': '{{ row['gauge_name'] }}',
              'gauge_addr': `<a href={{ url_for('gauge_rounds_bp.show', gauge_addr = row['gauge_addr']) }}>{{row['gauge_addr']}}</a>`,
              'pool_addr': '{{ row['pool_addr'] }}',

            },
          {% endfor %}
        ],
        search: true,
        sort: true,
        pagination: {
          limit: 50,
          summary: true
        },
        className: {
          {# td: 'my-td-class', #}
          th: 'table-primary',
          table: 'table table-hover' 
        }
      }).render(document.getElementById('gauge_table'));
</script>



<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>


{% endblock %}
