{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% set active_category = "curve" -%}
  {% set active_page = "curve_gauges" -%}
  {% set sub_active_page = 'home' -%}
  {% include "navigation.jinja2" %}


    <div class="row">
      <h1>{{ title }}</h1>
    </div>

    {% with gauge_info=df_curve_gauge_registry.iloc[0] %}
      {% with page_type='gauges' %}
        {% include 'gauge_widget.jinja2' %} 
      {% endwith %}
    {% endwith %}




    {# <div class="row">

        <div class="card text-white bg-secondary mb-3" >
        <div class="card-header">Current Votes</div>
        <div class="card-body">
            <div id="chart2" class="chart2"></div>

        </div>
        </div>
    </div> #}








    </div>

  

{% endblock %}
