{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% set active_category = "curve" -%}
  {% set active_page = "curve_gauges" -%}
  {% set sub_active_page = 'home' -%}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>
    </div>

    <div class="row">
        <div class="card border-info mb-3"  >

          <div class="card-header">Notes:</div>
          <div class="card-body">
              <p class="card-text">Currently uses "N/A" for gauges which were sourced from scraping the website vs onchain. 
              Mostly refered to as "Core". These pools do not show on the table below due to lack of creation blocktime.
              </p>
              <p class="card-text">Currently there is not a record of all deployments.
              </p>
              <p class="card-text">Rows with a <strong>Vote Timestamp</strong> have been whitelisted by governance to recieve CRV issuance as determined by gauge vote.
              </p>
          </div>
        </div>

    </div>

    {# <div class="row">

        <div class="card text-white bg-secondary mb-3" >
        <div class="card-header">Current Votes</div>
        <div class="card-body">
            <div id="chart2" class="chart2"></div>

        </div>
        </div>
    </div> #}
    <div class="row">

      <div class="card text-white bg-primary mb-3" >
        <div class="card-header">Gauge's Approved By Governance Per Round</div>
        <div class="card-body">
            {# <h4 class="card-title">??}}</h4> #}
            {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
            <div id="chart" class="chart"></div>
        </div>
      </div>
    </div>

    <div class="row">

    <div class="card text-white bg-info mb-3" >
      <div class="card-header">Gauge's Deployed Per Round</div>
      <div class="card-body">
          {# <h4 class="card-title">??}}</h4> #}
          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
          <div id="chart2" class="chart2"></div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="card text-white bg-primary mb-3" style="max-width: 50%;" >
        <div class="card-header">Approved Counts </div>
        <div class="card-body">
            {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
            {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
            <div id="chart3" class="chart3"></div>

        </div>
    </div>

    <div class="card text-white bg-info mb-3" style="max-width: 50%;"  >
        <div class="card-header">Deployed Counts </div>
        <div class="card-body">
            {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
            {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
            <div id="chart4" class="chart4"></div>

        </div>
    </div>

</div>


 {% include 'gauge_table_manager.jinja2' %} 


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

<script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>

<script type='text/javascript'>
  var graphs4 = {{graphJSON4 | safe}};
  Plotly.plot('chart4',graphs4,{});
</script>


{% endblock %}
