{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% set active_category = "curve" -%}
  {% set active_page = "curve_locker" -%}
  {% set sub_active_page = 'home' -%}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>
    </div>

    <div class="row">

    <div class = "col-sm">
        <div class="card border-info mb-3" >
          <div class="card-header">Total CRV Locked:  </div>
          <div class="card-body">
            <h4 class="card-title text-info">{{  "{:,.2f}".format(total_locked) }}</h4>
            {# <h4 class="card-title">{{ "veCRV Balance: {:,.2f}".format(curve_vecrv['effectively_locked_balance'].sum()) }}</h4> #}

            {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
          </div>
        </div>
    </div>
      <div class = "col-sm">
        <div class="card border-primary mb-3" >
          <div class="card-header">Total veCRV Supply:  </div>
          <div class="card-body">
            <h4 class="card-title text-primary">{{ "{:,.2f}".format( effectively_locked) }} </h4>

          </div>
        </div>
    </div>
    <div class = "col-sm">

        <div class="card border-info mb-3"  >
          <div class="card-header">Current Lockers: </div>
          <div class="card-body">
            <h4 class="card-title">{{ "{:,.0f}".format(curve_vecrv.shape[0]) }}</h4>

            {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
          </div>
        </div>

    </div>
    <div class="row">

        <div class="card text-white bg-primary mb-3" style="max-width: 50%;" >
            <div class="card-header">Total veCRV Locked </div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart" class="chart"></div>

            </div>
        </div>

        <div class="card text-white bg-info mb-3" style="max-width: 50%;" >
            <div class="card-header">Final Lock Time Distribution</div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart4" class="chart4"></div>

            </div>
        </div>

    </div>

    {# {% with sum_current_votes=sum_current_votes %}
      {% with sum_prior_votes=sum_prior_votes %}
        {% include 'utility_vote_compare.jinja2' %} 
      {% endwith %}
    {% endwith %} #}



    <div class="row">
        <div class="card text-white bg-secondary mb-3" style="max-width: 50%;" >
            <div class="card-header">Daily Locked veCRV Balance Changes</div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart2" class="chart2"></div>

            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 50%;"  >
            <div class="card-header">Known Locked veCRV Balances</div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart3" class="chart3"></div>

            </div>
        </div>

    </div>


    <h4 class="text-primary">Current Locked veCRV Balances</h4>

    {# {% with df_snapshot=convex_snapshot_aggregate_votes %}
      {% with snapshot_space='convex' %}
          {% with table_tag='agg' %}
            {% include 'snapshot_table_manager.jinja2' %} 
          {% endwith %}
      {% endwith %}
    {% endwith %} #}


<div class="row">

    <div id='locked_vecrv_table' ></div>
</div>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

<script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>

<script type='text/javascript'>
  var graphs4 = {{graphJSON4 | safe}};
  Plotly.plot('chart4',graphs4,{});
</script>


<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
          { id: 'block_timestamp', name: 'Block Timestamp' },
          { id: 'known_as', name: 'Known As' },
          { id: 'provider', name: 'Locker' ,
            formatter: (_, row) => gridjs.html(
                `${row.cells[2].data.toString()}`
            )
          },
          
          { id: 'balance_delta', name: 'Locked Delta',
            formatter: (_, row) =>  `${row.cells[3].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
            {% include 'utility_sort_float.jinja2' %} 
         },
        { id: 'locked_balance', name: 'Locked CRV',
            formatter: (_, row) =>  `${row.cells[4].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
            {% include 'utility_sort_float.jinja2' %} 
         },
          { id: 'event_name', name: 'Event Name' },
          { id: 'final_lock_time', name: 'Final Lock Time' },

        ],
        data: [
          {% for index, row in curve_vecrv.iterrows() %}
            {
              'block_timestamp': '{{ row['block_timestamp'] }}',
              'known_as': '{{ row['known_as'] }}',
              'provider': `<a href={{ url_for('curve_locker_vecrv_bp.show', user = row['provider']) }}>{{row['provider']}}</a>`,

              'balance_delta': '{{ row['balance_delta']|round(2) }}',
              'locked_balance': '{{ row['locked_balance']|round(2) }}',
              'event_name': '{{ row['event_name'] }}',
              'final_lock_time': '{{ row['final_lock_time'] }}',

            },
          {% endfor %}
        ],
        search: true,
        sort: true,
        pagination: {
          limit: 50,
          summary: true
        },
        className: {
          {# td: 'my-td-class', #}
          th: 'table-primary',
          table: 'table table-hover' 
        }
      }).render(document.getElementById('locked_vecrv_table'));
</script>



{% endblock %}
