{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% include "navigation.jinja2" %}

    <div class="row">
      <div class = "row">
        <h1>{{ title }}</h1>
      </div>
    </div>




    <div class="row">
      <div class = "col-md">
        <div class="card border-info mb-3" >
          <div class="card-header">Voter</div>
          <div class="card-body">
              <h4 class="card-title">{{curve_vecrv.iloc[0]['provider']}}</h4>
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              {# <div id="chart" class="chart"></div> #}

          </div>
        </div>
      </div>

      <div class = "col-md">
        <div class="card border-warning mb-3" >
          <div class="card-header">Known As</div>
          <div class="card-body">
            {% if curve_vecrv.iloc[0]['known_as'] == '_' %}
              <h4 class="card-title"> _ </h4>

            {% else %}
              <h4 class="card-title">{{ curve_vecrv.iloc[0]['known_as'] }}</h4>

            {% endif %}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              {# <div id="chart" class="chart"></div> #}

          </div>
        </div>
      </div>

    </div>

    <div class ="row">
        <div class = "col-lg">

          <div class="card border-info mb-3"  >
              <div class="card-body">
                <a href="{{ url_for('gauge_votes_bp.show', user=curve_vecrv.iloc[0]['provider']) }}">
                  <button type="button" class="btn btn-primary">View Votes</button>
                </a>  
              </div>
          </div>
        </div>
    </div>
    <div class="row">

      <div class = "col-sm">
          <div class="card border-secondary mb-3" >
            <div class="card-header">Total CRV Locked:  </div>
            <div class="card-body">
              <h4 class="card-title text-secondary">{{  "{:,.2f}".format(total_locked) }}</h4>
              {# <h4 class="card-title">{{ "veCRV Balance: {:,.2f}".format(curve_vecrv['effectively_locked_balance'].sum()) }}</h4> #}

              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
            </div>
          </div>
      </div>
        <div class = "col-sm">
          <div class="card border-primary mb-3" >
            <div class="card-header">Total veCRV Balance:  </div>
            <div class="card-body">
              <li class="list-group-item d-flex justify-content-between align-items-center">

                <h4 class="card-title text-primary">{{ "{:,.2f}".format( effectively_locked) }} </h4>
                
                <h4>
                  {% if effectively_locked / total_locked > 1  %}
                    <span class="badge bg-primary rounded-pill">
                    + {{"{:,.2f}".format(((1)))}} %
                    </span>
                  {% else %}
                    <span class="badge bg-secondary rounded-pill">
                    {{"{:,.2f}".format(((effectively_locked / total_locked)-1)*100)}} %
                    </span>
                  {% endif %}
                </h4>
              </li>

            </div>
          </div>
      </div>
      <div class = "col-sm">

          <div class="card border-secondary mb-3" >
            <div class="card-header">Info</div>
            <div class="card-body">
                {# <h4 class="card-title"> {{ "{:,.2f}".format(lockers['balance_adj'].head(1).sum()) }}</h4> #}

                <p class="card-text">Final Lock Time : {{ curve_vecrv.iloc[0]['final_lock_time'] }} </p>
                <p class="card-text">Locking Events : {{ curve_vecrv.shape[0] }} </p>
                {# <div id="chart" class="chart"></div> #}

            </div>
          </div>

      </div>
    </div>

    {# {% with sum_current_votes=sum_current_votes %}
      {% with sum_prior_votes=sum_prior_votes %}
        {% include 'utility_vote_compare.jinja2' %} 
      {% endwith %}
    {% endwith %} #}


    <div class="row">
        <div class="card text-white bg-primary mb-3" style="max-width: 50%;" >
            <div class="card-header">veCRV Locked</div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Rounnds By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart" class="chart"></div>

            </div>
        </div>

        <div class="card text-white bg-secondary mb-3" style="max-width: 50%;"  >
            <div class="card-header">veCRV Lock Efficiency</div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Rounnds By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart2" class="chart2"></div>

            </div>
        </div>
e     </div>


    <h4 class="text-primary">Current Locked veCRV Balances</h4>

    {# {% with df_snapshot=convex_snapshot_aggregate_votes %}
      {% with snapshot_space='convex' %}
          {% with table_type='agg' %}
            {% include 'snapshot_table_manager.jinja2' %} 
          {% endwith %}
      {% endwith %}
    {% endwith %} #}


{# <div class="row">

    <div id='locked_vecrv_table' ></div>
</div> #}


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

{% include 'curve_locked_vecrv_table_manager.jinja2' %} 


{% endblock %}
