{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>
    </div>
    <div class="row">

        <div class="card text-white bg-info mb-3" >
            <div class="card-header">Gauge Rounds by Gauge </div>
            <div class="card-body">
                <h4 class="card-title">Gauge Rounnds By Gauge</h4>
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart" class="chart"></div>

            </div>
        </div>
    </div>
    <div class="row">
      <div class="card border-secondary mb-3" style="max-width: 50%;" >
        <div class="card-header">Total Votes Prior Round</div>
        <div class="card-body">
          <h4 class="card-title">{{ "{:,.2f}".format(sum_prior_votes) }}</h4>

          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 50%;" >
        <div class="card-header">Total Votes Current Round</div>
        <div class="card-body">
          <li class="list-group-item d-flex justify-content-between align-items-center">

          <h4 class="card-title text-primary">{{ "{:,.2f}".format(sum_current_votes) }}</h4>
          <h4>
            {% if sum_current_votes > sum_prior_votes  %}
              <span class="badge bg-primary rounded-pill">
               + {{"{:,.2f}".format(((sum_current_votes / sum_prior_votes)-1)*100)}} %
              </span>
            {% else %}
              <span class="badge bg-secondary rounded-pill">
               - {{"{:,.2f}".format(((sum_current_votes / sum_prior_votes)-1)*100)}} %
              </span>
            {% endif %}
          </h4>
          </li>

          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        </div>
      </div>
     </div>
    <div class="row">
        <div class="card text-white bg-secondary mb-3" style="max-width: 50%;" >
            <div class="card-header">Last Round </div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Rounnds By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart2" class="chart2"></div>

            </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 50%;"  >
            <div class="card-header">This Round </div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Rounnds By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart3" class="chart3"></div>

            </div>
        </div>

    </div>
    <div class="row">
        <h4 class="text-primary">Currently Active Votes</h4>

        <div id="main_table"></div>
    </div>
    {# <div class="row">
        <h4 class="text-secondary">Currently Inactive Votes</h4>

        <div id="inactive_vote_table"></div>
    </div> #}





<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

<script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>


<script type='text/javascript'>
      new gridjs.Grid({
        columns: [

            { id: 'proposal_end', name: 'Proposal End' },
            { id: 'proposal_title', name: 'Title' },
            { id: 'choice', name: 'Gauge Choice',
                formatter: (_, row) => gridjs.html(
                `<a href=${row.cells[7].data}>${row.cells[2].data}</a>`
              )
            },
            { id: 'total_vote_power', name: 'Total Votes' ,
                formatter: (_, row) =>  `${row.cells[3].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
            },
            { id: 'vlcvx_voter_count', name: '# vlCVX Voters' },
            { id: 'period', name: 'Round' },
            { id: 'period_end_date', name: 'Round End Date' },
            {# { id: 'bounties_total', name: 'Bounties Total' },
            { id: 'bounty_currencies', name: 'Bounty Currencies' }, #}
            { id: '_', name: '_', formatter: (_, row) => gridjs.html(``) },

        ],
        data: [
          {% for index, row in convex_snapshot_aggregate_votes.iterrows() %}
            {
                'proposal_end': '{{ row['proposal_end'][:10] }}',
                'proposal_title': '{{ row['proposal_title'] }}',
                'choice': '{{ row['choice'] }}',
                'total_vote_power': '{{ row['total_vote_power'] |round(2) }}',
                'vlcvx_voter_count': '{{ row['vlcvx_voter_count'] }}',
                'actions': null,
                'period': {{row['period']}},
                'period_end_date': '{{ row['period_end_date'].strftime("%Y-%m-%d") }}',
                {# 'bounty': '${{ row['bounties_total'] |round(2)}}',
                'bounty_currency': '{{ row['bounty_currencies'] }}', #}
                '_': `{{ url_for('convex_snapshot_bp.show', choice = row['choice']) }}`


            },
          {% endfor %}
        ],
        search: true,
        sort: true,
        pagination: {
          limit: 50,
          summary: true
        },
        className: {
          {# td: 'my-td-class', #}
          th: 'table-primary',
          table: 'table table-hover' 
        }
      }).render(document.getElementById('main_table'));
</script>


{% endblock %}
