{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>


      <div class="card border-primary mb-3" style="max-width: 50%;" >
        <div class="card-header">Voter</div>
        <div class="card-body">
          <h4 class="card-title">{{df_snapshot_user.iloc[0]['voter']}}</h4>

        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 50%;" >
        <div class="card-header">Known As</div>
        <div class="card-body">
          <h4 class="card-title text-primary">{{df_snapshot_user.iloc[0]['known_as']}}</h4>

          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        </div>
      </div>
    </div>

    {% with df_snapshot=df_snapshot_user %}
      {% with choice=False %}
        {% include 'snapshot_index_header.jinja2' %} 
      {% endwith %}
    {% endwith %}
    <div class="row">

        <div class="card text-white bg-info mb-3" style="max-width: 50%;">
          <div class="card-header">This Rounds Votes by Gauge</div>
          <div class="card-body">
              {# <h4 class="card-title">}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart" class="chart"></div>
          </div>
        </div>

        <div class="card text-white bg-danger mb-3" style="max-width: 50%;" >
          <div class="card-header">vlCVX Available Per Vote</div>
          <div class="card-body">
              {# <h4 class="card-title">}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart3" class="chart3"></div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="card text-white bg-primary mb-3" >
          <div class="card-header">Votes per round by Gauge</div>
          <div class="card-body">
              {# <h4 class="card-title">??}}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart2" class="chart2"></div>
          </div>
        </div>
      </div>

    </div>
    
    <h4 class="text-primary">Votes by this Voter</h4>

    {% with df_snapshot=df_snapshot_user %}
      {% with snapshot_space='convex' %}
          {% with table_type='voter' %}
            {% include 'snapshot_table_manager.jinja2' %} 
          {% endwith %}
      {% endwith %}
    {% endwith %}



<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

<script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>




{% endblock %}
