{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% set active_category = "stakedao" -%}
  {% set active_page = "stakedao_locker" -%}
  {% set sub_active_page = 'home' -%}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>
    </div>

    {% with actor_type = 'stakedao_vesdt_locker'%}
        {% with action_tag = 'Locker'%}

        {% include 'actors_widget.jinja2' %} 
      {% endwith %}
    {% endwith %}

    {# <div class ="row">
        <div class = "col-lg">

          <div class="card border-info mb-3"  >
              <div class="card-body">
                <a href="{{ url_for('stakedao_snapshot_bp.voter', voter=stakedao_vesdt.iloc[0]['provider']) }}">
                  <button type="button" class="btn btn-primary">View Votes</button>
                </a>  
              </div>
          </div>
        </div>
    </div> #}
    <div class="row">

      <div class = "col-sm">
          <div class="card border-info mb-3" >
            <div class="card-header">Total SDT Locked:  </div>
            <div class="card-body">
              <h4 class="card-title text-info">{{  "{:,.2f}".format(total_locked) }}</h4>
              {# <h4 class="card-title">{{ "vesdt Balance: {:,.2f}".format(stakedao_vesdt['effectively_locked_balance'].sum()) }}</h4> #}

              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
            </div>
          </div>
      </div>
        <div class = "col-sm">
          <div class="card border-primary mb-3" >
            <div class="card-header">Total veSDT Balance:  </div>
            <div class="card-body">
              <li class="list-group-item d-flex justify-content-between align-items-center">

                <h4 class="card-title text-primary">{{ "{:,.2f}".format( effectively_locked) }} </h4>
                
                <h4>
                  {% if effectively_locked / total_locked > 1  %}
                    <span class="badge bg-primary rounded-pill">
                    + {{"{:,.2f}".format(((1)))}} %
                    </span>
                  {% else %}
                    <span class="badge bg-secondary rounded-pill">
                    {{"{:,.2f}".format(((effectively_locked / total_locked)-1)*100)}} %
                    </span>
                  {% endif %}
                </h4>
              </li>

            </div>
          </div>
      </div>
      <div class = "col-sm">

          <div class="card border-secondary mb-3" >
            <div class="card-header">Info</div>
            <div class="card-body">
                {# <h4 class="card-title"> {{ "{:,.2f}".format(lockers['balance_adj'].head(1).sum()) }}</h4> #}

                <p class="card-text">Final Lock Time : {{ stakedao_vesdt.iloc[0]['final_lock_time'] }} </p>
                <p class="card-text">Locking Events : {{ stakedao_vesdt.shape[0] }} </p>
                {# <div id="chart" class="chart"></div> #}

            </div>
          </div>

      </div>
    </div>



    {# {% with sum_current_votes=sum_current_votes %}
      {% with sum_prior_votes=sum_prior_votes %}
        {% include 'utility_vote_compare.jinja2' %} 
      {% endwith %}
    {% endwith %} #}



    <div class="row">
        <div class="card text-white bg-secondary mb-3" style="max-width: 50%;" >
            <div class="card-header">veSDT Locked</div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart" class="chart"></div>

            </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 50%;"  >
            <div class="card-header">veSDT Locked Activity</div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart2" class="chart2"></div>

            </div>
        </div>

    </div>


    <h4 class="text-primary">Current Locked veSDT Balances</h4>

    {# {% with df_snapshot=convex_snapshot_aggregate_votes %}
      {% with snapshot_space='convex' %}
          {% with table_tag='agg' %}
            {% include 'snapshot_table_manager.jinja2' %} 
          {% endwith %}
      {% endwith %}
    {% endwith %} #}


<div class="row">

    <div id='locked_vesdt_table' ></div>
</div>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>


{% include 'curve_locked_vecrv_table_manager.jinja2' %} 


<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
          { id: 'block_timestamp', name: 'Block Timestamp' },
          { id: 'known_as', name: 'Known As' },
          { id: 'provider', name: 'Staker' ,
            formatter: (_, row) => gridjs.html(
                `${row.cells[2].data.toString()}`
            )
          },
          
          { id: 'balance_delta', name: 'Locked Delta',
            formatter: (_, row) =>  `${row.cells[3].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
            {% include 'utility_sort_float.jinja2' %} 
         },
        { id: 'locked_balance', name: 'Locked veSDT',
            formatter: (_, row) =>  `${row.cells[4].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
            {% include 'utility_sort_float.jinja2' %} 
         },
          { id: 'event_name', name: 'Event Name' },
          { id: 'final_lock_time', name: 'Final Lock Time' },

        ],
        data: [
          {% for index, row in stakedao_vesdt.iterrows() %}
            {
              'block_timestamp': '{{ row['block_timestamp'] }}',
              'known_as': '{{ row['known_as'] }}',
              'provider': `<a href={{ url_for('stakedao_locked_vesdt_bp.show', user = row['provider']) }}>{{row['provider']}}</a>`,

              'balance_delta': '{{ row['balance_delta']|round(2) }}',
              'locked_balance': '{{ row['locked_balance']|round(2) }}',
              'event_name': '{{ row['event_name'] }}',
              'final_lock_time': '{{ row['final_lock_time'] }}',

            },
          {% endfor %}
        ],
        search: true,
        sort: true,
        pagination: {
          limit: 50,
          summary: true
        },
        className: {
          {# td: 'my-td-class', #}
          th: 'table-primary',
          table: 'table table-hover' 
        }
      }).render(document.getElementById('locked_vesdt_table'));
</script>




{% endblock %}
