



<div class="row">

    <div id='{{ id }}' ></div>
</div>


<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
            { id: 'checkpoint_id', name: 'Checkpoint',
                {% include 'utility_sort_float.jinja2' %} 
            },
            { id: 'checkpoint_timestamp', name: 'Round End Date' },
            { id: 'gauge_addr', name: 'Gauge Address',
                formatter: (_, row) => gridjs.html(
                  `${row.cells[2].data.toString()}`
                )
            },
            { id: 'symbol', name: 'Symbol' },
            { id: 'total_vote_power', name: 'Total Vote Power' ,
                formatter: (_, row) =>  `${row.cells[4].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
                {% include 'utility_sort_float.jinja2' %} 
            },
            { id: 'vote_percent', name: 'Percent',
              formatter: (_, row) =>  `${row.cells[5].data.toString()}%`,
                {% include 'utility_sort_float.jinja2' %} 
            }

        ],
        data: [
          {% for index, row in df_gauge_rounds.iterrows() %}
            {
                'checkpoint_id': '{{ row['checkpoint_id']  }}',
                'checkpoint_timestamp': '{{ row['checkpoint_timestamp'] }}',
                'gauge_addr':  `<a href={{ url_for('gauge_rounds_bp.show', gauge_addr = row['gauge_addr']) }}>{{row['gauge_addr']}}</a>`,
                
                'symbol': '{{ row['gauge_symbol'] }}',
                'total_vote_power': '{{ row['total_vote_power']|round(2) }}',
                'vote_percent': '{{ (row['total_vote_percent']*100)|round(3) }}' ,
            },
          {% endfor %}
        ],
        search: true,
        sort: true,
        autoWidth: true,

        pagination: {
          limit: 50,
          summary: true
        },
        className: {
          {# td: 'my-td-class', #}
          th: 'table-primary',
          table: 'table table-hover' 
        },
          style: {

            td: {
              'max-width': '120px',
              'overflow': 'hidden',
              'text-overflow': 'ellipsis',
              'white-space': 'nowrap',
            }

          }   

      }).render(document.getElementById( '{{ id }}' ));
</script>