



<div class="row">

    <div id='{{ id }}' ></div>
</div>


<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
            { id: 'this_period', name: 'Round',
                {% include 'utility_sort_float.jinja2' %} 
            },
            { id: 'period_end_date', name: 'Round End Date' },
            { id: 'gauge_addr', name: 'Gauge Address',
                formatter: (_, row) => gridjs.html(
                  `${row.cells[2].data.toString()}`
                )
            },
            { id: 'symbol', name: 'Symbol' },
            { id: 'total_vote_power', name: 'Total Vote Power' ,
                formatter: (_, row) =>  `${row.cells[4].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
                {% include 'utility_sort_float.jinja2' %} 
            },
            { id: 'vote_percent', name: 'Percent',
                {% include 'utility_sort_float.jinja2' %} 
            },
            { id: 'vecrv_voter_count', name: '# veCRV Voter',
                {% include 'utility_sort_int.jinja2' %} 
            },

        ],
        data: [
          {% for index, row in df_gauge_rounds.iterrows() %}
            {
                'this_period': '{{ row['this_period']  }}',
                'period_end_date': '{{ row['period_end_date'] }}',
                'gauge_addr': '{{ row['gauge_addr'] }}',
                'gauge_addr':  `<a href={{ url_for('gauge_rounds_bp.show', gauge_addr = row['gauge_addr']) }}>{{row['gauge_addr']}}</a>`,
                
                'symbol': '{{ row['symbol'] }}',
                'total_vote_power': '{{ row['total_vote_power']|round(2) }}',
                'vote_percent': '{{ row['vote_percent'] |round(4) }}' ,
                'vecrv_voter_count': '{{ row['vecrv_voter_count'] }}',
            },
          {% endfor %}
        ],
        search: true,
        sort: true,
        autoWidth: true,

        pagination: {
          limit: 50,
          summary: true
        },
        className: {
          {# td: 'my-td-class', #}
          th: 'table-primary',
          table: 'table table-hover' 
        },
          style: {

            td: {
              'max-width': '120px',
              'overflow': 'hidden',
              'text-overflow': 'ellipsis',
              'white-space': 'nowrap',
            }

          }   

      }).render(document.getElementById( '{{ id }}' ));
</script>