{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% set active_category = "curve" -%}
  {% set active_page = "curve_checkpoints" -%}
  {% set sub_active_page = 'home' -%}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>

    </div>
    <div class="row">
 
        <div class="card text-white bg-info mb-3" >
            <div class="card-header">Gauge Rounds by Gauge </div>
            <div class="card-body">           
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart" class="chart"></div>

            </div>
        </div>
    </div>
    {% include 'utility_checkpoints.jinja2' %} 

    {% with sum_current_votes=sum_current_votes %}
      {% with sum_prior_votes=sum_prior_votes %}
        {% include 'utility_vote_compare.jinja2' %} 
      {% endwith %}
    {% endwith %}

    <div class="row">
 
        <div class="card text-white bg-secondary mb-3" style="max-width: 50%;" >
            <div class="card-header">Last Round </div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Rounnds By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart2" class="chart2"></div>

            </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 50%;"  >
            <div class="card-header">This Round </div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Rounnds By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart3" class="chart3"></div>

            </div>
        </div>

    <h4 class="text-primary">veCRV Gauges Vote Aggregates</h4>

    {% with df_gauge_rounds=meta_gauge_aggregate_votes %}
        {% with table_type='agg' %}
          {% include 'gauge_rounds_table_manager.jinja2' %} 
        {% endwith %}
    {% endwith %}





<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

<script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>


{% endblock %}
