{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>

    </div>
    <div class="row">
 
        <div class="card text-white bg-info mb-3" >
            <div class="card-header">Gauge Rounds by Gauge </div>
            <div class="card-body">
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart" class="chart"></div>

            </div>
        </div>
    </div>
    <div class="row">
      <div class="card border-secondary mb-3" style="max-width: 50%;" >
        <div class="card-header">Total Votes Prior Round</div>
        <div class="card-body">
          <h4 class="card-title">{{ "{:,.2f}".format(sum_prior_votes) }}</h4>

          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 50%;" >
        <div class="card-header">Total Votes Current Round</div>
        <div class="card-body">
          <li class="list-group-item d-flex justify-content-between align-items-center">

          <h4 class="card-title text-primary">{{ "{:,.2f}".format(sum_current_votes) }}</h4>
          <h4>
            {% if sum_current_votes > sum_prior_votes  %}
              <span class="badge bg-primary rounded-pill">
               + {{"{:,.2f}".format(((sum_current_votes / sum_prior_votes)-1)*100)}} %
              </span>
            {% elif sum_current_votes == sum_prior_votes  %}
              <span class="badge bg-info rounded-pill">
               {{"{:,.2f}".format(((sum_current_votes / sum_prior_votes)-1)*100)}} %
              </span>
            {% else %}
              <span class="badge bg-secondary rounded-pill">
               {{"{:,.2f}".format(((sum_current_votes / sum_prior_votes)-1)*100)}} %
              </span>
            {% endif %}
          </h4>
          </li>
          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        </div>
      </div>
     </div>
    <div class="row">
 
        <div class="card text-white bg-secondary mb-3" style="max-width: 50%;" >
            <div class="card-header">Last Round </div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Rounnds By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart2" class="chart2"></div>

            </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 50%;"  >
            <div class="card-header">This Round </div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Rounnds By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart3" class="chart3"></div>

            </div>
        </div>


    </div>
    <div class="row">
        <h4 class="text-primary">Currently Active Votes</h4>

        <div id="meta_gauge_aggregate_vote_table"></div>
    </div>
    {# <div class="row">
        <h4 class="text-secondary">Currently Inactive Votes</h4>

        <div id="inactive_vote_table"></div>
    </div> #}





<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

<script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>


<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
            { id: 'this_period', name: 'Round' },
            { id: 'period_end_date', name: 'Round End Date' },
            { id: 'gauge_addr', name: 'Gauge Address',
              formatter: (_, row) => gridjs.html(
                `<a href=${row.cells[7].data}>${row.cells[2].data}</a>`
              ) 
            },
            { id: 'symbol', name: 'Symbol' },
            { id: 'total_vote_power', name: 'Total Vote Power' ,
                formatter: (_, row) =>  `${row.cells[4].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
            },
            { id: 'vote_percent', name: 'Percent' },
            { id: 'vecrv_voter_count', name: '# veCRV Voter' },
            { id: '_', name: '_', formatter: (_, row) => gridjs.html(``) },

        ],
        data: [
          {% for index, row in meta_gauge_aggregate_votes.iterrows() %}
            {
                'this_period': '{{ row['this_period']  }}',
                'period_end_date': '{{ row['period_end_date'] }}',

                'gauge_addr': '{{ row['gauge_addr'] }}',
                'symbol': '{{ row['symbol'] }}',
                'total_vote_power': '{{ row['total_vote_power']|round(2) }}',
                'vote_percent': '{{ row['vote_percent'] |round(4) }}' ,
                'vecrv_voter_count': '{{ row['vecrv_voter_count'] }}',
                '_': `{{ url_for('gauge_rounds_bp.show', gauge_addr = row['gauge_addr']) }}`
            },
          {% endfor %}
        ],
        search: true,
        sort: true,
        pagination: {
          limit: 50,
          summary: true
        },
        className: {
          {# td: 'my-td-class', #}
          th: 'table-primary',
          table: 'table table-hover' 
        }
      }).render(document.getElementById('meta_gauge_aggregate_vote_table'));
</script>


{% endblock %}
