{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>

    </div>


    {% with gauge_info=local_df_curve_gauge_registry.iloc[0] %}
      {% with page_type='curve' %}
        {% include 'gauge_widget.jinja2' %} 
      {% endwith %}
    {% endwith %}



    {% with sum_current_votes=sum_current_votes %}
      {% with sum_prior_votes=sum_prior_votes %}
        {% include 'utility_vote_compare.jinja2' %} 
      {% endwith %}
    {% endwith %}

    <div class="row">

        <div class="card text-white bg-info mb-3" style="max-width: 50%;">
          <div class="card-header">This Rounds Votes by Voter</div>
          <div class="card-body">
              {# <h4 class="card-title">}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart" class="chart"></div>
          </div>
        </div>

        <div class="card text-white bg-danger mb-3" style="max-width: 50%;" >
          <div class="card-header">This Rounds Votes by Whitelist</div>
          <div class="card-body">
              {# <h4 class="card-title">}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart4" class="chart4"></div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="card text-white bg-primary mb-3" >
          <div class="card-header">Votes per round by Voter</div>
          <div class="card-body">
              {# <h4 class="card-title">??}}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart2" class="chart2"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card text-white bg-secondary mb-3" >
          <div class="card-header">Votes Per Round by Whiteliested Addresses</div>
          <div class="card-body">
              {# <h4 class="card-title">??}}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart3" class="chart3"></div>
          </div>
        </div>
    </div>
    
    {# <div class="row">
        <h4 class="text-primary">Votes Per Round</h4>

        <div id="vote_table"></div>
    </div>
 #}


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

<script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>

<script type='text/javascript'>
  var graphs4 = {{graphJSON4 | safe}};
  Plotly.plot('chart4',graphs4,{});
</script>

    {% with df_gauge_rounds=local_df_gauge_rounds %}
        {% with table_type='show' %}
          {% include 'gauge_rounds_table_manager.jinja2' %} 
        {% endwith %}
    {% endwith %}

{% endblock %}
