
{% block content %}

    <div class="row">
      <div class="card border-secondary mb-3" style="max-width: 50%;" >
        <div class="card-header">Prior Checkpoint: {{ checkpoint_info['prior']['id']  }}</div>
        <div class="card-body">

          <h4 class="card-title"> {{ checkpoint_info['prior']['timestamp']  }}</h4>

          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        </div>
      </div>
      <div class="card border-primary mb-3" style="max-width: 50%;" >
        <div class="card-header">Current Checkpoint: {{ checkpoint_info['current']['id']  }} </div>
        <div class="card-body">

          <h4 class="card-title text-primary"> {{ checkpoint_info['current']['timestamp']  }}</h4>

          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        </div>
      </div>
     </div>

{% endblock %}
