 {% block content %}


<div class ="row">

        <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#currentlyActive" aria-selected="true" role="tab">Currently Active</a>
        </li>

        {% if inactive_votes|length > 0 %}

            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#currentlyInactive" aria-selected="false" role="tab" tabindex="-1">Currently Inactive</a>
            </li>
        {% endif %}


        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#allVotes" aria-selected="false" role="tab" tabindex="-1">All Votes</a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#checkpointVotes" aria-selected="false" role="tab" tabindex="-1">Votes By Checkpoint</a>
        </li>

        </ul>
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="currentlyActive" role="tabpanel">

            {% with df = votes  %}
                {% with table_type = 'primary'  %}
                    {% with id="vote_table_1" %}
                        {% include 'gauge_votes_table_helper.jinja2' %} 
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        
        </div>

        {% if inactive_votes|length > 0 %}
        <div class="tab-pane fade" id="currentlyInactive" role="tabpanel">

            {% with df = inactive_votes %}
                {% with table_type = 'secondary'  %}
                    {% with id="vote_table_2" %}
                        {% include 'gauge_votes_table_helper.jinja2' %} 
                    {% endwith %}
                {% endwith %}

            {% endwith %}
        </div>
        {% endif %}


        <div class="tab-pane fade" id="allVotes" role="tabpanel">

            {% with df=all_votes %}
                {% with table_type = 'info'  %}
                    {% with id="vote_table_3" %}
                        {% include 'gauge_votes_table_helper.jinja2' %} 
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        </div>

    </div>  

    <div class="tab-pane fade" id="checkpointVotes" role="tabpanel">

            {% with df_gauge_rounds=vote_checkpoints %}
                {% with id="vote_table_4" %}
                        {% include 'gauge_rounds_voter_table_helper.jinja2' %} 
                {% endwith %}
            {% endwith %}
        </div>

    </div>  


</div>

    {% endblock %}

