<div class="row">

    <div id='{{ id }}' ></div>
</div>


<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
          { id: 'checkpoint_id', name: 'Checkpoint Id' },
          { id: 'checkpoint_timestamp', name: 'Checkpoint Timestamp' },

          { id: 'symbol', name: 'Symbol' },
          { id: 'weight', name: 'Weight',
            {% include 'utility_sort_float.jinja2' %} 
          },
          { id: 'gauge_addr', name: 'Gauge Address',
            formatter: (_, row) => gridjs.html(
                `${row.cells[4].data.toString()}`
            )
          },
          { id: 'time', name: 'Timestamp' }

        ],
        data: [
          {% for index, row in df.iterrows() %}
            {
              'checkpoint_id': '{{ row['checkpoint_id'] }}',
              'checkpoint_timestamp': '{{ row['checkpoint_timestamp'] }}',

              'symbol': '{{ row['symbol'] }}',
              'weight': '{{ row['weight'] }}',
              'gauge_addr': `<a href={{ url_for('gauge_rounds_bp.show', gauge_addr = row['gauge_addr']) }}>{{row['gauge_addr']}}</a>`,
              'time': '{{ row['time'] }}'

            },
          {% endfor %}
        ],
        {% include 'table_format_helper.jinja2' %}

      }).render(document.getElementById( '{{ id }}' ));
</script>
