{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% set active_category = "convex" -%}
  {% set active_page = "convex_locker" -%}
  {% set sub_active_page = 'home' -%}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>
    </div>

    {% with actor_type = 'convex_vlcvx_locker'%}
        {% with action_tag = 'Locker'%}

        {% include 'actors_widget.jinja2' %} 
      {% endwith %}
    {% endwith %}

    <div class="row">

        <div class="card text-white bg-info mb-3" >
            <div class="card-header">Total CVX Locked </div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart3" class="chart3"></div>

            </div>
        </div>
    </div>

    {# {% with sum_current_votes=sum_current_votes %}
      {% with sum_prior_votes=sum_prior_votes %}
        {% include 'utility_vote_compare.jinja2' %} 
      {% endwith %}
    {% endwith %} #}



    <div class="row">
        <div class="card text-white bg-secondary mb-3" style="max-width: 50%;" >
            <div class="card-header">Historic Locks</div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart2" class="chart2"></div>

            </div>
        </div>

        <div class="card text-white bg-primary mb-3" style="max-width: 50%;"  >
            <div class="card-header">vlCVX Current Locks</div>
            <div class="card-body">
                {# <h4 class="card-title">Gauge Checkpoints By Gauge</h4> #}
                {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                <div id="chart" class="chart"></div>

            </div>
        </div>

    </div>


    {# {% with df_snapshot=convex_snapshot_aggregate_votes %}
      {% with snapshot_space='convex' %}
          {% with table_tag='agg' %}
            {% include 'snapshot_table_manager.jinja2' %} 
          {% endwith %}
      {% endwith %}
    {% endwith %} #}

{# 
<div class="row">

    <div id='vote_locker_table' ></div>
</div>
 #}


<div class ="row">

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" data-bs-toggle="tab" href="#current" aria-selected="true" role="tab" tabindex="-1">Current Locks</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="tab" href="#deltas" aria-selected="false" role="tab">vlCVX Balance Changes</a>
    </li>

  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="current" role="tabpanel">
        <div id='current_locks_table' ></div>
    </div>
    <div class="tab-pane fade" id="deltas" role="tabpanel">
      <div id='vote_locker_table' ></div>
    </div>

  </div>


</div>




<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

<script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>


<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
          { id: 'block_timestamp', name: 'Block Timestamp' },
          { id: 'event_name', name: 'Event Name' },

          { id: 'known_as', name: 'Known As' },
          { id: 'user', name: 'Locker' ,
            formatter: (_, row) => gridjs.html(
                `${row.cells[2].data.toString()}`
            )
          },
          
          { id: 'locked_amount', name: 'vlCVX Delta',
            formatter: (_, row) =>  `${row.cells[4].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,

            {% include 'utility_sort_float.jinja2' %} 
         },
        { id: 'relocked', name: 'Relocked' },
        { id: 'epoch_start', name: 'Epoch Start' },
        { id: 'epoch_end', name: 'Epoch End' },

        ],
        data: [
          {% for index, row in convex_locker.iterrows() %}
            {
              'block_timestamp': '{{ row['block_timestamp'] }}',
              'event_name': '{{ row['event_name'] }}',
              'known_as': '{{ row['known_as'] }}',
              'user': `<a href="#">{{row['user']}}</a>`,
              {% if row['event_name'] == 'Withdrawn' %}
              'locked_amount': '{{ -1 * row['withdrawn_amount']|round(2) }}',
              'relocked': '{{ row['relocked'] }}',
              'epoch_start': '',
              'epoch_end': '',
              {% else %}
              'locked_amount': '{{ row['locked_amount']|round(2) }}',
              'relocked': '',
              'epoch_start': '{{ row['epoch_start'] }}',
              'epoch_end': '{{ row['epoch_end'] }}',
              {% endif %}


            },
          {% endfor %}
        ],
        {% include 'table_format_helper.jinja2' %}  

      }).render(document.getElementById('vote_locker_table'));
</script>

<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
        { id: 'epoch_start', name: 'Epoch Start' },
        { id: 'epoch_end', name: 'Epoch End' },
        { id: 'known_as', name: 'Known As' },
        { id: 'user', name: 'Locker' ,
          formatter: (_, row) => gridjs.html(
              `${row.cells[3].data.toString()}`
          )
        },
          
        { id: 'current_locked', name: 'vlCVX Locked',
          formatter: (_, row) =>  `${row.cells[4].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,

          {% include 'utility_sort_float.jinja2' %} 
        },
        { id: 'lock_count', name: 'Lock Count',
            {% include 'utility_sort_float.jinja2' %} 
         },

        ],
        data: [
          {% for index, row in df_current_locks.iterrows() %}
            {
              'epoch_start': '{{ row['epoch_start'] }}',
              'epoch_end': '{{ row['epoch_end'] }}',
              'known_as': '{{ row['known_as'] }}',
              'user': `<a href="#">{{row['user']}}</a>`,
              'current_locked': '{{ row['current_locked']|round(2) }}',
              'lock_count': '{{ row['lock_count'] }}',
            },
          {% endfor %}
        ],
        {% include 'table_format_helper.jinja2' %}  

      }).render(document.getElementById('current_locks_table'));
</script>

{% endblock %}
