{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% set active_category = "stakedao" -%}
  {% set active_page = "stakedao_delegations" -%}
  {% set sub_active_page = 'home' -%}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>
    </div>



  <div class="row">
    <div class="card border-primary mb-10"  >
        <div class="card-header">Delegated sdCRV</div>
        <div class="card-body">
            <h4 class="card-title"></h4>
            {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
            <div id="chart" class="chart"></div>

        </div>              
    </div>
  </div>
  <div class="row">
    <div class="card boarder-secondary mb-10"  >
      <div class="card-header">Number of Delegators</div>
      <div class="card-body">
          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
          <div id="chart2" class="chart2"></div>

      </div>              
    </div>
  </div>
  
  <div class="row">

    <div id="delegation_table"></div>

  </div>



<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
          { id: 'block_timestamp', name: 'Block Timestamp' },
          { id: 'event_name', name: 'Event Name' },
          { id: 'delegate', name: 'Delegate' ,
                formatter: (_, row) => gridjs.html(
                `${row.cells[2].data.toString()}`
              )
          },          { id: 'delegator', name: 'Delegator' ,
                formatter: (_, row) => gridjs.html(
                `${row.cells[3].data.toString()}`
              )
          },
          { id: 'tx_hash', name: 'Tx Hash' }

        ],
        data: [
          {% for index, row in df_stakedao_delegations.iterrows() %}
            {
              'block_timestamp': '{{ row['block_timestamp'] }}',
              'event_name': '{{ row['event_name'] }}',
              'delegate':  `<a href={{ url_for('stakedao_snapshot_delegations_bp.delegate', delegate = row['delegate']) }}>{{row['delegate']}}</a>`,

              'delegator':  `<a href={{ url_for('stakedao_snapshot_delegations_bp.delegator', delegator = row['delegator']) }}>{{row['delegator']}}</a>`,

              'tx_hash': '{{ row['tx_hash'] }}'


            },
          {% endfor %}
        ],

      {%include 'table_format_helper.jinja2' %}

      }).render(document.getElementById('delegation_table'));
</script>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

{% endblock %}
