{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>
    </div>
    <div class="row">
 
      <div class="card border-info mb-3" style="max-width: 50%;" >
      <div class="card-header">Pool Liquidity</div>
      <div class="card-body"> 
          <h4 class="card-title">{{ df_processed_liquidity.index | length }} Liquidity Pools Tracked</h4>
          <p class="card-text">This measures liquidity vs votes</p>

      </div>
    </div>


    </div>

    {# <div class="row">

        <div class="card text-white bg-secondary mb-3" >
        <div class="card-header">Current Votes</div>
        <div class="card-body">
            <div id="chart2" class="chart2"></div>

        </div>
        </div>
    </div> #}



        <div id="liquidity_table"></div>





    </div>

  

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
            { id: 'date', name: 'date' },
            { id: 'pool_name', name: 'Pool Name' },
            { id: 'liquidity', name: 'Liquidity',
                formatter: (_, row) =>  `${row.cells[2].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
                {% include 'utility_sort_float.jinja2' %} 

            },
            { id: 'liquidity_native', name: 'Liquidity Native',
                formatter: (_, row) =>  `${row.cells[3].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
                {% include 'utility_sort_float.jinja2' %} 

            },
            { id: 'tradeable_assets', name: 'Tradeable Assets'},
            { id: 'gauge_address', name: 'Gauge Address' },
            { id: 'symbol', name: 'Symbol' },
            { id: 'percent', name: 'Percent',
                {% include 'utility_sort_float.jinja2' %} 

            },
            { id: 'liquidty_vs_percent', name: 'Liquidity/Percent',
                formatter: (_, row) =>  `${row.cells[8].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
                {% include 'utility_sort_float.jinja2' %} 

            },
            { id: 'pool_address', name: 'Pool Address',
                formatter: (_, row) => gridjs.html(
                `<a href=${row.cells[10].data}>${row.cells[9].data}</a>`
              )
            },

            { id: '_', name: '_', formatter: (_, row) => gridjs.html(``) },

        ],
        data: [
          {% for index, row in df_processed_liquidity.iterrows() %}
            {
                'date': '{{ row['date'] }}',
                'pool_name': '{{ row['pool_name'] }}',

                'liquidity': '{{ row['liquidity'] | round(2) }}',
                'liquidity_native': '{{ row['liquidity_native']| round(2) }}',
                'tradeable_assets': '{{ row['tradeable_assets'] }}',

                'gauge_address': '{{ row['gauge_address'] }}',
                'symbol': '{{ row['symbol'] }}',
                'percent': '{{ row['percent'] | round(4) }}',
                'liquidty_vs_percent': '{{ row['liquidty_vs_percent'] | round(0) }}',
                'pool_address': '{{ row['pool_address'] }}',

                '_': `{{ url_for('curve_liquidity_bp.show', gauge_addr = row['gauge_address']) }}`

            },
          {% endfor %}
        ],
        search: true,
        sort: true,
        pagination: {
          limit: 50,
          summary: true
        },
        className: {
          {# td: 'my-td-class', #}
          th: 'table-primary',
          table: 'table table-hover' 
        }
      }).render(document.getElementById('liquidity_table'));
</script>

{# <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script> #}
{% endblock %}
