{% extends "layout.jinja2" %}

{#
<!-- {% block pagestyles %}
  {% assets "home_less_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %} -->
#}

{% block content %}
  {% set active_category = "curve" -%}
  {% set active_page = "curve_liquidity" -%}
  {% set sub_active_page = 'home' -%}
  {% include "navigation.jinja2" %}

    <div class="row">
      <h1>{{ title }}</h1>

    </div>

    {% with gauge_info=local_df_curve_gauge_registry.iloc[0] %}
      {% with page_type='liquidity' %}
        {% include 'gauge_widget.jinja2' %} 
      {% endwith %}
    {% endwith %}

    {%if local_all_df_curve_liquidity |length > 0 %}



    <div class="row">

      <div class="card border-primary mb-3" style="max-width: 50%;" >
        <div class="card-header">Pool Address</div>
        <div class="card-body">
          <h4 class="card-title">{{local_all_df_curve_liquidity.iloc[0]['pool_addr']}}</h4>

          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        </div>
      </div>

      <div class="card border-info mb-3" style="max-width: 50%;" >
        <div class="card-header">Gauge Name:</div>
        <div class="card-body">
          <h4 class="card-title">{{local_all_df_curve_liquidity.iloc[0]['gauge_name']}}</h4>

          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        </div>
      </div>
    </div>

    <div class="row">

        <div class="card border-primary mb-3" style="max-width: 50%;" >
          <div class="card-header">Votes and Liquidity</div>
          <div class="card-body">
              {# <h4 class="card-title">}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart" class="chart"></div>
          </div>
        </div>


        <div class="card text-white bg-primary mb-3" style="max-width: 50%;" >
          <div class="card-header">Liquidity by Asset (USD)</div>
          <div class="card-body">
              {# <h4 class="card-title">??}}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart3" class="chart3"></div>
          </div>
        </div>
    </div>


    <div class="row">

        <div class="card border-primary mb-3" style="max-width: 50%;" >
          <div class="card-header">Liquidity (USD) per Vote</div>
          <div class="card-body">
              {# <h4 class="card-title">??}}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart2" class="chart2"></div>
          </div>
        </div>

        <div class="card text-white bg-secondary mb-3" style="max-width: 50%;" >
          <div class="card-header">Liquidity by Asset (Native Units)</div>
          <div class="card-body">
              {# <h4 class="card-title">??}}</h4> #}
              {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
              <div id="chart4" class="chart4"></div>
          </div>
        </div>
    </div>

    <div class="row">
        <h4 class="text-primary">Liquidity Over Time</h4>

        <div id="vote_table"></div>
    </div>
    {% else %}
    <div class="row">
      <div class="card border-primary mb-3" style="max-width: 50%;" >
        <div class="card-header">Unable To Link Pool To Gauge</div>
        <div class="card-body">
          <h4 class="card-title">Please try with a different gauge</h4>

          {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
        </div>
      </div>


    </div>

    {% endif %}





<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

<script type='text/javascript'>
  var graphs2 = {{graphJSON2 | safe}};
  Plotly.plot('chart2',graphs2,{});
</script>

<script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>

<script type='text/javascript'>
  var graphs4 = {{graphJSON4 | safe}};
  Plotly.plot('chart4',graphs4,{});
</script>

{# <script type='text/javascript'>
  var graphs3 = {{graphJSON3 | safe}};
  Plotly.plot('chart3',graphs3,{});
</script>

<script type='text/javascript'>
  var graphs4 = {{graphJSON4 | safe}};
  Plotly.plot('chart4',graphs4,{});
</script> #}

<script type='text/javascript'>
      new gridjs.Grid({
        columns: [
            { id: 'block_timestamp', name: 'Block Timestamp' },
            { id: 'checkpoint_id', name: 'Checkpoint Id' },

            {# { id: 'pool_name', name: 'Pool Name' }, #}
            { id: 'symbol', name: 'Token Symbol' },
            { id: 'balance', name: 'Balance Native',
                formatter: (_, row) =>  `${row.cells[3].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`
            },
            { id: 'balance_usd', name: 'Balance USD',
                formatter: (_, row) =>  `${row.cells[4].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
                {% include 'utility_sort_float.jinja2' %} 
            },
            { id: 'total_vote_power', name: 'Total Votes',
                formatter: (_, row) =>  `${row.cells[5].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
                {% include 'utility_sort_float.jinja2' %} 
            },
            { id: 'total_vote_percent', name: 'Vote Percent' },
                {# { id: 'total_vote_percent', name: 'Vote Percent' }, #}
            { id: 'liquidity_usd_over_votes', name: 'Liquidity (USD) / Votes',
                formatter: (_, row) =>  `${row.cells[7].data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`,
                {% include 'utility_sort_float.jinja2' %} 
            },
            {# { id: 'has_price', name: 'Has Price' }, #}


        ],
        data: [
          {% for index, row in local_all_df_curve_liquidity.iterrows() %}
            {
                'block_timestamp': '{{ row['block_timestamp']  }}',
                'checkpoint_id': '{{ row['checkpoint_id']  }}',

                {# 'pool_name': '{{ row['pool_name'] }}', #}
                'symbol': '{{ row['symbol'] }}',
                'balance': '{{ row['balance']|round(2) }}',
                'balance_usd': '{{ row['balance_usd']|round(2) }}',
                'total_vote_power': '{{ row['total_vote_power']|round(2) }}',
                'total_vote_percent': '{{ row['total_vote_percent'] |round(3) }}',
                'liquidity_usd_over_votes': '{{ row['liquidity_usd_over_votes'] |round(3) }}',

                {# 'has_price': '{{ row['has_price']  }}', #}

            },
          {% endfor %}
        ],
      {%include 'table_format_helper.jinja2' %}
      }).render(document.getElementById('vote_table'));
</script>

{% endblock %}
