{% block content %}


<div class = 'row'>

        <div class="card bg-outline-warning mb-3" >
                
                    <div class="card-body"> 
                        <h3 class="card-title">Last Updated Reference Table</h3>
                        <table class="table table-hover">
                        <tbody>
                                <tr >
                                <th scope="row">File Name</th>
                                <th scope="row">Modified Date</th>
                                <th scope="row">Days</th>
                                </tr>

                                {% for item in file_info.keys() %}
                                {% if file_info[item]['days'] < 0  %}
                                <tr class="bg-danger text-white" >
                                {% elif file_info[item]['days'] < 2 %}
                                <tr class="bg-primary text-white" >
                                {% elif file_info[item]['days'] > 7 %}
                                <tr class="bg-warning" >

                                {% else %}
                                <tr >
                                {% endif %}
                                <td>{{ item }}</td>
                                <td>{{ file_info[item]['last_modified'] }}</td>
                                <td>{{ file_info[item]['days'] }}</td>
                                </tr>

                                {% endfor%}

                        </tbody>
                        </table>

                    </div>
                <div id="reference_table" class="reference_table"></div>
            </div>

</div>
<div class="row" >
<div class = "col-sm" >
    <div class="card border-secondary mb-3 " style="height:97%" >
    <div class="card-body ">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
                <p class="card-text">

                This site is mostly powered by 
                <a 
                    href="https://flipsidecrypto.xyz/">
                    Flipside
                    </a> data.
                <br/>I'm very greatful for their service and support.
                <br/>
                Queries found 
                <a href="https://flipsidecrypto.xyz/Meir/ve-good-chIM7B">
                here
                </a>
                </p>
            <span class="badge">
            <img src= {{ url_for('static', filename = 'images/flipside_logo.png') }}  alt="Flipside Logo" height="75">
            </span>
        </li>
    </ul>
    </div>
    </div>
</div>
<div class = "col-sm" >
    <div class="card border-primary mb-3" style="height:97%" >
    <div class="card-body ">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="card-text ">
            Center For Llamas is an <strong>Experimental Beta</strong>.
            <br/>It is a passion project made possible by 
            <a 
                href="https://reserve.org/">
                Reserve
                </a>.
            </p>

            
            <span class="badge">
            <img src= {{ url_for('static', filename = 'images/reserve_logo.png') }}  alt="Reserve Logo" height="75">
            
            </span>
        </li>
    </ul>
    </div>
    </div>

</div>
<div class = "col-sm" >
    <div class="card border-info mb-3" style="height:97%" >
    <div class="card-body ">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="card-text">

            You can find me on
            <a 
                href="https://twitter.com/CoordinateStuff">
                Twitter
                </a>.
            <br/>Please reach out with any questions.
            </p>
            <span class="badge">
            <img src= {{ url_for('static', filename = 'images/pfp.jpg') }}  alt="PFP" height="75">
            </span>
        </li>
    </ul>
    </div>
    </div>

</div>
</div>
</div>

{% endblock %}


