<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home_bp.home') }}">The Center For Llamas Who Want To Curve Good</a>
  </div>
  <div class="d-flex">
      <a class="nav-link active" href="https://register.app">
        <span class="badge bg-danger"><3</span>Reserve
      <span class="visually-hidden">(current)</span>
    </a>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('curve_meta_bp.index') }}">Curve</a>
      <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li>
        <a class="nav-link active" href="{{ url_for('gauges_bp.index') }}">Gauges
          <span class="visually-hidden">(current)</span>
        </a>
        </li>


        <li>
        <a class="nav-link active" href="{{ url_for('curve_locker_vecrv_bp.index') }}">Locker
          <span class="visually-hidden">(current)</span>
        </a>
        </li>
        <li>
        <a class="nav-link active" href="{{ url_for('gauge_votes_bp.index') }}">Gauge Votes
          <span class="visually-hidden">(current)</span>
        </a>
        </li>
        <li>
        <a class="nav-link active" href="{{ url_for('gauge_rounds_bp.index') }}">Gauge Rounds
          <span class="visually-hidden">(current)</span>
        </a>
        </li>

        <li>
          <a class="nav-link active" href="{{ url_for('curve_liquidity_bp.index') }}">Liquidity
          <span class="visually-hidden">(current)</span>
        </a>
        </li>
        </ul>
        </div>
        <div class="d-flex">
            <a class="nav-link active" href="">StakeDAO Bounties
            <span class="visually-hidden">(current)</span>
          </a>
        </div>

        {# <!-- <a href="{{ url_for('home_bp.home') }}">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>
        </a> -->

          <!-- <a href="{{ url_for('transaction_bp.index') }}">Transactions</a>
          <a href="{{ url_for('transfer_bp.index') }}">Transfers</a> --> #}

        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Convex</a>
      <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {# <li>
          <a class="nav-link active" href="{{ url_for('curve_locker_vecrv_bp.index') }}">Vote Locker
            <span class="visually-hidden">(current)</span>
          </a>
        </li> #}
        <li>
          <a class="nav-link active" href="{{ url_for('convex_snapshot_bp.index') }}">Snapshot
            <span class="visually-hidden">(current)</span>
          </a>
        </li>

        {# <li>
          <a class="nav-link active" href="">Delegations
            <span class="visually-hidden">(current)</span>
          </a>
        </li> #}
        </ul>
        <div class="d-flex">
            <a class="nav-link active" href="{{ url_for('votium_bounties_bp.index') }}">Votium Bounties
            <span class="visually-hidden">(current)</span>
          </a>
        </div>

        {# <!-- <a href="{{ url_for('home_bp.home') }}">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>
        </a> -->

          <!-- <a href="{{ url_for('transaction_bp.index') }}">Transactions</a>
          <a href="{{ url_for('transfer_bp.index') }}">Transfers</a> --> #}

        </div>
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="">StakeDAO</a>
      <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {# <li>
          <a class="nav-link active" href="{{ url_for('curve_locker_vecrv_bp.index') }}">Vote Locker
            <span class="visually-hidden">(current)</span>
          </a>
        </li> #}
        <li>
          <a class="nav-link active" href="{{ url_for('stakedao_snapshot_bp.index') }}">Snapshot
            <span class="visually-hidden">(current)</span>
          </a>
        </li>

        {# <li>
          <a class="nav-link active" href="">Delegations
            <span class="visually-hidden">(current)</span>
          </a>
        </li> #}
        </ul>

        {# <!-- <a href="{{ url_for('home_bp.home') }}">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>
        </a> -->

          <!-- <a href="{{ url_for('transaction_bp.index') }}">Transactions</a>
          <a href="{{ url_for('transfer_bp.index') }}">Transfers</a> --> #}

        </div>
    </div>
</nav>
