{% set is_homepage = is_homepage|default(False) -%}


<nav class="navbar navbar-expand-lg navbar-light bg-light md-3">
{% if not is_homepage %}
<div class="col-sm">

  <div class="container-fluid">

    <a class="navbar-brand" href="{{ url_for('home_bp.home') }}">The Center For Llamas Who Want To Curve Good </a>
  </div>

</div>
{% else %}




{# <div class="col-md">

    <div class="float-end">

      <img src= {{ url_for('static', filename = 'images/llama_graze_close_up.png') }}  alt="Llamas" height="50">
    </div> 
</div> #}

{% endif%}

{# </nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3"> #}

<div class="col-md">

{% set active_category = active_category|default("home") -%}
{% set active_page = active_page|default("home") -%}
{% set sub_active_page = sub_active_page|default("home") -%}

<div class ="tabbable parentTabs float-end">

    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link {% if 'directory' == active_category %} active bg-primary text-white  {% else %} text-primary{% endif%}" 
          href="{{ url_for('address_book_bp.index') }}">Directory</a>
      </li>
      <li class="nav-item" role="presentation">
        <a 
          class="nav-link dropdown-toggle {% if 'curve' == active_category %} active bg-primary text-white  {% else %} text-primary{% endif%}"
          data-bs-toggle="tab"
          href="#curve"
          aria-selected="false" 
          tabindex="-1"
          role="tab">Curve</a>
      </li>
      <li class="nav-item" role="presentation">
        <a 
        class="nav-link dropdown-toggle {% if 'convex' == active_category %} active bg-primary text-white  {% else %} text-primary{% endif%}" 
        data-bs-toggle="tab" 
        href="#convex" 
        aria-selected="false" 
        tabindex="-1" 
        role="tab">Convex</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link dropdown-toggle {% if 'stakedao' == active_category %} active bg-primary text-white  {% else %} text-primary{% endif%}" 
        data-bs-toggle="tab" 
        href="#stakedao" 
        aria-selected="false" 
        tabindex="-1" 
        role="tab">StakeDAO</a>
      </li>

      <li class="nav-item" role="presentation">
        <a class="nav-link dropdown-toggle {% if 'vote_bounties' == active_category %} active bg-primary text-white  {% else %} text-primary{% endif%}" 
        data-bs-toggle="tab" 
        href="#vote_bounties" 
        aria-selected="false" 
        tabindex="-1" 
        role="tab">Vote Bounties</a>
      </li>
      
      <li class="nav-item" role="presentation">
        <a class="nav-link dropdown-toggle {% if 'random' == active_category %} active bg-primary text-white  {% else %} text-primary{% endif%}" 
        data-bs-toggle="tab" 
        href="#random" 
        aria-selected="false" 
        tabindex="-1" 
        role="tab">Random</a>
      </li>

{# 
    <div class="d-flex">
        <a class="nav-link text-info" href="https://www.reserve.org">
          <span class="badge bg-info text-white"><3</span> &nbsp;Reserve
        <span class="visually-hidden">(current)</span>
      </a>
    </div> #}
    </ul>

    <div id="myTabContent parentTabs" class="tab-content">
          <div class="tab-pane {% if 'curve' == active_category %} active in {% endif%}" 
            id="curve" role="tabpanel">


              <ul class="nav nav-tabs">

                <li class="nav-item">
                  <a class="nav-link {% if 'curve_gauges' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                    href="{{ url_for('gauges_bp.index') }}">Gauges</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link {% if 'curve_locker' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                    href="{{ url_for('curve_locker_vecrv_bp.index') }}">veCRV Locker</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link {% if 'curve_gauge_votes' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                    href="{{ url_for('gauge_votes_bp.index') }}">Gauge Votes</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link {% if 'curve_checkpoints' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                    href="{{ url_for('gauge_checkpoints_bp.index') }}">Checkpoints</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link {% if 'curve_liquidity' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                    href="{{ url_for('curve_liquidity_bp.index') }}">Liquidity</a>
                </li>

                <li class="nav-item" role="presentation">
                  <a class="nav-link dropdown-toggle  {% if 'curve_meta' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  data-bs-toggle="tab" 
                  href="#meta" 
                  aria-selected="false" 
                  tabindex="-1" 
                  role="tab">Meta</a>
                </li>

                {# <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li> #}
              </ul>
              <div id="myTabContent Grandchild" class="tab-content" role="tabpanel">
                  <div class="tab-pane {% if 'curve_meta' == active_page %} active in {% endif%}"
                     id="meta" role="tabpanel">


                    <ul class="nav nav-tabs">

                      <li class="nav-item">
                        <a class="nav-link {% if 'curve_top_vote_changes' == sub_active_page %} active bg-info text-white {% else %} text-info{% endif%}" 
                          href="{{ url_for('curve_meta_bp.index') }}">Top Vote Changes</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link {% if 'contributing_factors' == sub_active_page %} active bg-info text-white {% else %} text-info{% endif%}" 
                          href="{{ url_for('curve_meta_bp.contributing_factors') }}">Contributing Factors</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link {% if 'compage_gauges' == sub_active_page %} active bg-info text-white {% else %} text-info{% endif%}" 
                          href="{{ url_for('curve_meta_bp.compare_gauges') }}">Compare Gauges</a>
                      </li>
                    </ul>


                  </div>
              </div>


          </div>
          <div class="tab-pane {% if 'convex' == active_category %} active in {% endif%}" 
            id="convex" role="tabpanel">


            <ul class="nav nav-tabs">

              <li class="nav-item">
                <a class="nav-link {% if 'convex_curve_snapshot' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('convex_snapshot_bp.index') }}">Curve Snapshot</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if 'convex_locker' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('convex_vote_locker_bp.index') }}">vlCVX Locker</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if 'convex_delegations' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('convex_snapshot_delegations_bp.index') }}">vlCVX Delegations</a>
              </li>


            </ul>


          </div>
          <div class="tab-pane {% if 'stakedao' == active_category %} active in {% endif%}" 
            id="stakedao" role="tabpanel">


            <ul class="nav nav-tabs">

              <li class="nav-item">
                <a class="nav-link {% if 'stakedao_curve_snapshot' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('stakedao_snapshot_bp.index') }}">Curve Snapshot</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if 'stakedao_staked_sdcrv' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('stakedao_staked_sdcrv_bp.index') }}">Staked sdCRV</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if 'stakedao_locker' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('stakedao_locked_vesdt_bp.index') }}">veSDT Locker</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if 'stakedao_delegations' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('stakedao_snapshot_delegations_bp.index') }}">sdCRV Delegations</a>
              </li>


            </ul>


          </div>
          <div class="tab-pane {% if 'vote_bounties' == active_category %} active in {% endif%}" 
            id="vote_bounties" role="tabpanel">


            <ul class="nav nav-tabs">

              <li class="nav-item">
                <a class="nav-link {% if 'votium_v2' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('votium_bounties_v2_bp.index') }}">Votium v2</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if 'votium_v1' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('votium_bounties_bp.index') }}">Votium</a>
              </li>


            </ul>


          </div>

          <div class="tab-pane {% if 'random' == active_category %} active in {% endif%}" 
            id="random" role="tabpanel">


            <ul class="nav nav-tabs">

              <li class="nav-item">
                <a class="nav-link {% if 'random_roles' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('address_book_bp.random_roles') }}">Ecosystem Participant</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if 'votium_v1' == active_page %} active bg-secondary text-white {% else %} text-secondary{% endif%}" 
                  href="{{ url_for('gauge_checkpoints_bp.random_gauges') }}">Curve Gauge</a>
              </li>


            </ul>


          </div>

    </div>


</div>



</div>

</nav>





