{% set df_snapshot_adj = df_snapshot_adj|default([]) -%}

 {% block content %}


<div class ="row">

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" data-bs-toggle="tab" href="#thisProposal" aria-selected="true" role="tab">This Proposal</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="tab" href="#allProposals" aria-selected="false" role="tab" tabindex="-1">All Proposals</a>
    </li>
  {% if df_snapshot_adj | length > 0%}
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="tab" href="#delegatedProposals" aria-selected="false" role="tab" tabindex="-1">Delegator Adjusted Proposals</a>
    </li>
  {% endif %}
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="thisProposal" role="tabpanel">

      {% with df_snapshot=df_snapshot[df_snapshot['checkpoint_id'] == df_snapshot.iloc[0]['checkpoint_id']] %}
        {% with snapshot_space=snapshot_space %}
          {% with table_type = 'info' %}
            {% with id="vote_table_1" %}
              {% if table_tag == 'show' %}
                {% include 'snapshot_table_helper.jinja2' %} 
              {% elif table_tag == 'agg' %}
                {% include 'snapshot_table_agg_helper.jinja2' %} 
              {% elif table_tag == 'voter' %}
                {% include 'snapshot_table_vote_helper.jinja2' %} 
              {% elif table_tag == 'delegator' %}
                {% include 'snapshot_table_delegator_helper.jinja2' %} 
              {% endif %} 
            {% endwith %}
          {% endwith %}
        {% endwith %}
      {% endwith %}

      
  </div>
  <div class="tab-pane fade" id="allProposals" role="tabpanel">

    {% with df_snapshot = df_snapshot %}
      {% with snapshot_space=snapshot_space %}
        {% with id="vote_table_2" %}
          {% if table_tag == 'show' %}
            {% include 'snapshot_table_helper.jinja2' %} 
          {% elif table_tag == 'agg' %}
            {% include 'snapshot_table_agg_helper.jinja2' %} 
          {% elif table_tag == 'voter' %}
            {% include 'snapshot_table_vote_helper.jinja2' %} 
          {% elif table_tag == 'delegator' %}
              {% if df_snapshot_adj | length > 0%}
                {% with table_type = 'danger' %}
                  {% include 'snapshot_table_delegator_helper.jinja2' %} 
                {% endwith %}
              {% else %}
                  {% include 'snapshot_table_delegator_helper.jinja2' %} 
              {% endif %}
            {% include 'snapshot_table_delegator_helper.jinja2' %} 
          {% endif %}     
        {% endwith %}
      {% endwith %}
    {% endwith %}

  </div>
  {% if df_snapshot_adj | length > 0%}

    <div class="tab-pane fade" id="delegatedProposals" role="tabpanel">

      {% with df_snapshot = df_snapshot_adj %}
        {% with snapshot_space=snapshot_space %}
          {% with table_tag = 'delegator' %}
            {% with id="vote_table_3" %}
              {% with is_adjusted = True %}
                {% include 'snapshot_table_delegator_helper.jinja2' %} 
              {% endwith %}
            {% endwith %}
          {% endwith %} 
        {% endwith %}
      {% endwith %}
    </div>

  {% endif %}

  </div>


</div>

    {% endblock %}

