sort: {
    compare: (a, b) => {
    const code = (x) => parseInt(x);
    
    if (code(a) > code(b)) {
        return 1;
    } else if (code(b) > code(a)) {
        return -1;
    } else {
        return 0;
    }
    }
} 